# miscellaneous
sigs/sigs
sigs/sigKeys

# runtime files
*.dat
*.jpg
*.lock
backups/
sessions/

# third party libraries
vendor/
.php_cs
.php_cs.cache
devtools/exif-orientation-examples/

# temporary editor files
*.swp
.\#*
*.sublime-project
*.sublime-workspace
.idea

# operating system cache files
.DS_Store
Desktop.ini
Thumbs.db
